<!DOCTYPE html>
<html>

<!--This is the webpage with our information and sources.-->

<head>
	<link href="https://fonts.googleapis.com/css?family=Nixie+One|Anonymous+Pro" rel="stylesheet">
</head>

<body>
	<div id="container">
		<div id="header">
			<h1>
				About Us
			</h1>
			<div id="homeButton" class="btn-group" role="group" aria-label="...">
				<a type="button" class="btn btn-default" href="/">
					<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
				</a>
			</div><!--end homeButton-->
		</div><!--end header-->
		<div class="paragraph">
			<p>
				Hello and welcome to our web app! We are Deven, Emma, Kevin and Marissa, and we created this app to better help you keep track of what is in your fridge and what you can make with what you have.
				<br>
				<br>
			</p>
			<p>
				Sources: 

			</p>

		</div>
	</div>


</body>
</html>