<!DOCTYPE html>
<html>
<!--
	This is the webpage for the detailed view for each recipe
-->


<head>
	<link rel="stylesheet" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Nixie+One|Anonymous+Pro" rel="stylesheet">
</head>

<body>
	<div class="page">
		<div class="food">
			<h1> Turkey Dinner </h1>
			<img src="http://i.dailymail.co.uk/i/pix/2009/12/06/article-1233697-0774A72D000005DC-694_468x371.jpg" style="width:300px;height:300px;">
		</div>
		<div class="recipe">
			<h2> Recipe </h2>
			<p> Some random recipe here lol </p>
		</div>
	</div>
</body>
</html>