<!DOCTYPE html>
<html>
<!--
   -This is the webapp myEats, designed by "1337 eats" for QHacks 2017
   -myEats was created in order to help with food management, and ensure food is not wasted needlessly. The app takes inventory of your fridge or pantry, and searches a database of recipes that can be made with the ingredients you have on hand

   -Authors: Deven Bernard, Emma Fletcher, Kevin Zuern, and Marissa Huang
   -Created: 05/03/17
-->

<h1>Homepage</h1>
