<!DOCTYPE html>
<html>
<!--
	This is the webpage for the Recipe Search of myEats, which implements edamam's recipe API to match available ingredients to recipes containing them
-->

<head>
	<link rel="stylesheet" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Nixie+One|Anonymous+Pro" rel="stylesheet">
	<style>
		#map {
			height: 640px;
			width: 360px;
			vertical-align: left;
		}

		#sidebar {
			overflow: scroll;
			overflow-x: hidden;
		}

		html {
			min-height: 100%;
		}
		body {
			min-height: 100%;
			margin: 0;
			padding: 0;
		}
		.listing {
			background: #00B7FF;
			display: flex;
			flex-direction: row;
			font-size: 15px;
			background-color: #ffffff;
			box-shadow: 5px 5px #D5D5CF;
			font-family: 'Nixie One', sans-serif;
		}
		.desc {
			margin-left: 20px;
			max-width: 450px;
			font-size: 22px;
			padding: 10px;
		}
		.verticalLine {
			border-left: dotted #D5D5CF;
		}
		.tags ul {
			font-size: 20px;
			vertical-align: middle;
			list-style-type: circle;
			align-items: left;
			font-family: 'Anonymous Pro', sans-serif;
			padding-left: 15px;
			margin-left: 20px;
		}
	</style>
</head>

<body>
	<div id="page">	
		<div class="listing">
			<img src="http://i.dailymail.co.uk/i/pix/2009/12/06/article-1233697-0774A72D000005DC-694_468x371.jpg" style="width:300px;height:300px;">
			<div class="desc">
				<h1> Turkey Dinner </h1>
				<p>A delicious turkey dinner, perfect for the holidays! Easy to follow recipes for beginners, making your Thanksgiving an easy one! </p>
			</div>
			<div class="verticalLine"></div>
			<div class="tags">
				<ul>
					<li>Turkey</li>
					<li>Bread</li>
					<li>Cranberries</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>