<!DOCTYPE html>
<html>
<!--
	This is the webpage for the Recipe Search of myEats, which implements edamam's recipe API to match available ingredients to recipes containing them
-->

<head>
	<link href="https://fonts.googleapis.com/css?family=Nixie+One|Anonymous+Pro" rel="stylesheet">
</head>

<body>
	<div id="page">	
		<div id="header">
			<h1>
				Recipes
			</h1>
			<div id="dropDownMenu" class="btn-group" role="group" aria-label="...">
  				<div>
  					<div class="input-group">
      					<input data-bind="textInput: searchText" id="searchBar" type="text" class="form-control" placeholder="Enter...">
      					<span class="input-group-btn">
      						<a id="searchBtn" data-bind="click: searchRecipes" type="button" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
        					<a type="button" class="btn btn-default" href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
        					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
							</button>
							<ul class="dropdown-menu">
      							<li><a href="#">Vegetarian	</a></li>
      							<li><a href="#">Vegan</a></li>
      							<li><a href="#">Gluten Free</a></li>
    						</ul>
      					</span>
  					</div>
  				</div><!--end col-lg-6-->
  			</div><!--end searchbar-->
		</div><!--end header-->

	<div id="page">	
		<div data-bind="foreach: recipes" class="listing">
			<img data-bind="attr: {src: recipe.image}" style="width:300px;height:300px;">
			<div class="desc">
				<h1 onmouseenter="this.style.color= 'blue'" onmouseleave="this.style.color= 'black'" data-bind="text: recipe.label, attr:{'data-item-url': recipe.url}"></h1>
				<p data-bind="foreach: recipe.ingredientLines">
					<span data-bind="text: $data"></span>, 
				</p>
			</div>
			<div class="verticalLine"></div>
			<div class="tags">
				<p data-bind="foreach: recipe.healthLabels">
					<span data-bind="text: $data"></span>, 
				</p>
			</div>
		</div>
	</body>
	<script src="/scripts/recipescript.js"></script>
	</html>
