<!DOCTYPE html>
<html>
<!--
	This is the webpage for the Recipe Search of myEats, which implements edamam's recipe API to match available ingredients to recipes containing them
-->

<head>
	<link rel="stylesheet" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Nixie+One|Anonymous+Pro" rel="stylesheet">
	<style>
		#map {
			height: 640px;
			width: 360px;
			vertical-align: left;
		}

		#sidebar {
			overflow: scroll;
			overflow-x: hidden;
		}

		html {
			min-height: 100%;
		}
		body {
			min-height: 100%;
			margin: 0;
			padding: 0;
		}
		.listing {
			background: #00B7FF;
			display: flex;
			flex-direction: row;
			font-size: 15px;
			background-color: #ffffff;
			box-shadow: 5px 5px #D5D5CF;
			font-family: 'Nixie One', sans-serif;
			padding: 20px;
			border-bottom: solid #D5D5CF;
			flex-wrap: wrap;
		}
		.listing img {
			vertical-align: center;
		}
		.desc {
			margin-left: 20px;
			max-width: 450px;
			font-size: 22px;
			padding: 10px;
			border-right: dotted #D5D5CF;
		}
		.tags {
			display: inline-flex;
			font-size: 20px;
			align-items: right;
			font-family: 'Anonymous Pro', sans-serif;
			padding-left: 15px;
			margin-left: 20px;
			margin-top: 30px;
			flex: 0;
			min-width: 250px;
		}

		@media all and (max-width: 830px) {
			#header {
				display: flex;
				align-items: center;
				justify-content: space-between;
				font-family: 'Nixie One', sans-serif;
			}
			.listing {
				flex-direction: column;
				align-items: center;
			}
			.listing img {
				margin: 20px auto 0px auto;
				align-content: center;

			}
			.tags {
				text-align: center;
				margin: 10px auto 10px auto;
			}
			.desc {
				border-right: transparent;
				text-align: center;
				margin: 0 auto;
			}
		}
		@media all and (max-width: 1080px) {
			.listing {
				flex-direction: row;
				align-content: center;
			}
			.listing img {
				margin: 20px auto 0px auto;
			}
			.tags {
				flex-wrap: nowrap;
				min-width: 100%;

			}
			.desc {
				border-right: transparent;
			}

		</style>
	</head>

	<body>
		<div id="page">	
			<div id="header">
				<h1>
					Recipes
				</h1>
				<div id="dropDownMenu" class="btn-group" role="group" aria-label="...">
					<a type="button" class="btn btn-default" href="/">
						<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
					</a>
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a href="#">Vegetarian</a></li>
							<li><a href="#">Vegan</a></li>
							<li><a href="#">Gluten Free</a></li>
						</ul>
					</div> <!--end button-group-->
				</div><!--end dropDownMenu-->
			</div><!--end header-->

			<div data-bind="foreach: recipes">
				<div class="listing">
					<img data-bind="attr: {src: image}" style="width:300px;height:300px;">
					<div class="desc">
						<h1 onmouseenter="this.style.color= 'blue'" onmouseleave="this.style.color= 'black'" data-bind="text: label"></h1>
						<p data-bind="foreach: ingredientLines">
							<span data-bind="text: $data"></span>, 
						</p>
					</div>
					<div class="tags">
						<p data-bind="foreach: healthLabels">
							<span data-bind="text: $data"></span>, 

							
						</div>
					</body>
					<script src="/scripts/recipescript.js"></script>
					</html>